
    <th:block >
        <nav class="navbar navbar-expand-lg navbar-light bg-success rounded font-weight-bold">
            <a class="navbar-brand"  style="color: white" th:href="@{/}">Citizens</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#guestNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </th:block>